![]( https://docs.google.com/uc?export=download&id=1oKIi5t0GlSKAoPTIt1f-DcOu0GcYHDD4)

In [ ]:
# Rencana Pembelajaran FGA Big Using Python Kelas B
# Fakultas Ilmu Komputer (Filkom), Universitas Brawijaya (UB) 2021
# Instruktur: Imam Cholissodin, S.Si., M.Kom. | email: imamcs@ub.ac.id
# Link Free Buku Ajar tentang "Big Data Dengan Java/Scala/Python" dari saya: http://bit.ly/2FMLnfw
# Tgl 22 Juli 2021
# =====================================================================
# Kolaborasi Instruktur Filkom x Mipa UB 2021
# Di Bawah Naungan Kominfo Pusat x Cisco x AWS x lainnya dlm FGA
# =====================================================================

# Asisten Kelas B: Yonas Asmara

# Jumlah Peserta: 27 Orang
# Link Materi & Tugas FGA Big Using Python Kelas B: https://bit.ly/3wRG6ux 

# Big Thank to Pak Guntur sebagai Instruktur ToT Big Data Using Python di Kominfo (link github beliau, https://bit.ly/3kxaV5d )
# Matursuwun sanged Pak Guntur atas ilmu dan share materinya
# Monggo berkunjung juga ke materi Big Data dari github saya di https://bit.ly/3Bsg5Wi :D

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

# Materi Pembelajaran

* Library Session 2 (Flask) 
> * Apa itu Flask (Web base)
> * Komparasi Flask vs Django
* Apa itu SSH, Reverse SSH Tunneling dengan Ngrok dan Bagaimana membuat seperti Ngrok secara mandiri Ref. https://bit.ly/3llL4O5 dari github saya.
![]( https://docs.google.com/uc?export=download&id=1reE4xX0bzOHPTqIpbXWZagnv3nJbbTfM)

* Flask x SQLite pada Google Colab base Tunneling dengan Ngrok
* Diskusi: Flask vs Django utk Big Data Apps

In [ ]:
import os
os.chdir("/content/drive/My Drive")
path = "Cisco Big Data Using Python 2021/FGA Big Data Using Python - Kelas B - utk Peserta/Sesi 1 - 25 Python"
if not os.path.exists(path):
    os.makedirs(path)
os.chdir("/content/drive/My Drive/Cisco Big Data Using Python 2021/FGA Big Data Using Python - Kelas B - utk Peserta/Sesi 1 - 25 Python")
if not os.path.exists("images"):
  !wget --load-cookies /tmp/cookies.txt "https://docs.google.com/uc?export=download&confirm=$(wget --quiet --save-cookies /tmp/cookies.txt --keep-session-cookies --no-check-certificate 'https://docs.google.com/uc?export=download&id=1-A9hoqmtpKWBAu_QjyqUxpcuBXkJ-Gk8' -O- | sed -rn 's/.*confirm=([0-9A-Za-z_]+).*/\1\n/p')&id=1-A9hoqmtpKWBAu_QjyqUxpcuBXkJ-Gk8" -O 'images.tar' && rm -rf /tmp/cookies.txt
  !tar -xv -C './' -f './images.tar'

!pwd
!ls -l -a --block-size=K

/content/drive/My Drive/Cisco Big Data Using Python 2021/FGA Big Data Using Python - Kelas B - utk Peserta/Sesi 1 - 25 Python
total 579K
-rw------- 1 root root   1K Jul 31 04:20 Data_Generate_Klas.csv
drwx------ 2 root root   4K Aug  4 01:58 flask-sqlite
drwx------ 2 root root   4K Jul 20 09:59 images
-rw------- 1 root root 570K Jul 28 01:24 images.tar

In [ ]:
os.chdir("/content/drive/My Drive/Cisco Big Data Using Python 2021/FGA Big Data Using Python - Kelas B - utk Peserta/Sesi 1 - 25 Python/flask-sqlite/csv2sqlite")

In [ ]:
!pwd

/content/drive/My Drive/Cisco Big Data Using Python 2021/FGA Big Data Using Python - Kelas B - utk Peserta/Sesi 1 - 25 Python/flask-sqlite/csv2sqlite

# Intro

In [39]:
!pip install db-sqlite3

Requirement already satisfied: db-sqlite3 in /usr/local/lib/python3.7/dist-packages (0.0.1)
Requirement already satisfied: db in /usr/local/lib/python3.7/dist-packages (from db-sqlite3) (0.1.1)
Requirement already satisfied: antiorm in /usr/local/lib/python3.7/dist-packages (from db->db-sqlite3) (1.2.1)

In [40]:
import pandas as pd
import sqlite3
from datetime import date

In [43]:
#connecting with the database.
db = sqlite3.connect("fga_big_data.db")
db.execute("drop table if exists dataset") # next data Min. 30 dari case Anda
try:
  db.execute("create table dataset(sensor_LDR text, sensor_proximity_kapasitif text, sensor_proximity_Induktif text, sensor_ph text, sensor_mq135 text,Pemilah_Sampah text)")
except:
  print("Already table existed !!")

In [44]:
# Coba membuat 1 data utk tabel dataset, lalu dimasukkan dalam fga_big_data.db

Sensor_LDR = "151"
sensor_proximity_kapasitif = "191"
sensor_proximity_Induktif = "142"
sensor_ph = "1"
sensor_mq135 = "281"
Pemilah_Sampah = "RDF"

In [46]:
cmd = "insert into dataset(Sensor_LDR,sensor_proximity_kapasitif, sensor_proximity_Induktif,sensor_ph,sensor_mq135,Pemilah_Sampah) values('{}','{}','{}','{}','{}','{}')".format(Sensor_LDR,sensor_proximity_kapasitif, sensor_proximity_Induktif ,sensor_ph,sensor_mq135, Pemilah_Sampah)
db.execute(cmd)
db.commit()

# Querying

### Type - 1 Querying

In [47]:
db = sqlite3.connect("fga_big_data.db")
rs = db.execute('SELECT * FROM dataset')
for row in rs:
    print (row)

('151', '191', '142', '1', '281', 'RDF')
('151', '191', '142', '1', '281', 'RDF')

### Type - 2 Querying

In [48]:
db = sqlite3.connect("fga_big_data.db")
qry = """

SELECT * FROM dataset

"""
df = pd.read_sql_query(qry, db)
df.head()

  sensor_LDR sensor_proximity_kapasitif  ... sensor_mq135 Pemilah_Sampah
0        151                        191  ...          281            RDF
1        151                        191  ...          281            RDF

[2 rows x 6 columns]

# Batch-wise data storage

In [49]:
def pushCSVdatasetToDB(Sensor_LDR,sensor_proximity_kapasitif, sensor_proximity_Induktif,sensor_ph,sensor_mq135,Pemilah_Sampah):
#inserting values inside the created table
    db = sqlite3.connect("fga_big_data.db")    
    cmd = "insert into dataset(Sensor_LDR,sensor_proximity_kapasitif, sensor_proximity_Induktif,sensor_ph,sensor_mq135,Pemilah_Sampah) values('{}','{}','{}','{}','{}','{}')".format(Sensor_LDR,sensor_proximity_kapasitif, sensor_proximity_Induktif ,sensor_ph,sensor_mq135, Pemilah_Sampah)
    db.execute(cmd)
    db.commit()

In [50]:
data = pd.read_csv("data.csv")
data.shape
# data.head()

(30, 6)

In [51]:
data.head(30)

    Sensor_LDR (X1)  ...  Pemilah_Sampah (Y)
0               151  ...      Produk Kreatif
1               637  ...                 RDF
2               979  ...   Produk Daur Ulang
3               702  ...       Produk Bahaya
4               589  ...              Kompos
5               409  ...         Biodigester
6                 3  ...              Kompos
7                36  ...      Produk Kreatif
8               162  ...   Produk Daur Ulang
9               732  ...      Produk Kreatif
10              293  ...         Biodigester
11              698  ...      Produk Kreatif
12              169  ...   Produk Daur Ulang
13              901  ...   Produk Daur Ulang
14              602  ...                 ITF
15              491  ...       Produk Bahaya
16               65  ...              Kompos
17              206  ...              Kompos
18              416  ...       Produk Bahaya
19              981  ...                 RDF
20              118  ...      Produk Kreatif
21              727  ...       Produk Bahaya
22              509  ...              Kompos
23              943  ...         Biodigester
24              737  ...              Kompos
25              640  ...                 RDF
26              970  ...       Produk Bahaya
27               46  ...       Produk Bahaya
28              278  ...       Produk Bahaya
29              501  ...   Produk Daur Ulang

[30 rows x 6 columns]

In [52]:
pushCSVdatasetToDB("1023","870","910","4","934","RDF")

In [53]:
db = sqlite3.connect("fga_big_data.db")
qry = "SELECT * FROM dataset"
df = pd.read_sql_query(qry, db)
df.head()

  sensor_LDR sensor_proximity_kapasitif  ... sensor_mq135 Pemilah_Sampah
0        151                        191  ...          281            RDF
1        151                        191  ...          281            RDF
2       1023                        870  ...          934            RDF

[3 rows x 6 columns]

In [54]:
# CSV_to_SQLite3 dari file dataset_csv.csv
for i in range(0,len(data)):
  pushCSVdatasetToDB(data.iloc[i][0],data.iloc[i][1],data.iloc[i][2],data.iloc[i][3],data.iloc[i][4],data.iloc[i][5])

In [55]:
db = sqlite3.connect("fga_big_data.db")
qry = """

SELECT * FROM dataset WHERE sensor_LDR LIKE "151%"

"""
df = pd.read_sql_query(qry, db)
df.head()

  sensor_LDR sensor_proximity_kapasitif  ... sensor_mq135  Pemilah_Sampah
0        151                        191  ...          281             RDF
1        151                        191  ...          281             RDF
2        151                        870  ...          934  Produk Kreatif

[3 rows x 6 columns]

In [56]:
db = sqlite3.connect("fga_big_data.db")
qry = """

SELECT * FROM dataset WHERE sensor_LDR="589"

"""
df = pd.read_sql_query(qry, db)
df.head()

  sensor_LDR sensor_proximity_kapasitif  ... sensor_mq135 Pemilah_Sampah
0        589                        583  ...          868         Kompos

[1 rows x 6 columns]

In [57]:
db = sqlite3.connect("fga_big_data.db")
qry = """

SELECT * FROM dataset
"""
df = pd.read_sql_query(qry, db)
df.head(30)

   sensor_LDR sensor_proximity_kapasitif  ... sensor_mq135     Pemilah_Sampah
0         151                        191  ...          281                RDF
1         151                        191  ...          281                RDF
2        1023                        870  ...          934                RDF
3         151                        870  ...          934     Produk Kreatif
4         637                        733  ...            0                RDF
5         979                        713  ...          599  Produk Daur Ulang
6         702                        642  ...          247      Produk Bahaya
7         589                        583  ...          868             Kompos
8         409                        782  ...          386        Biodigester
9           3                        241  ...           55             Kompos
10         36                        915  ...          398     Produk Kreatif
11        162                        565  ...          269  Produk Daur Ulang
12        732                         47  ...           92     Produk Kreatif
13        293                        342  ...          250        Biodigester
14        698                        567  ...          275     Produk Kreatif
15        169                        165  ...          865  Produk Daur Ulang
16        901                        369  ...          359  Produk Daur Ulang
17        602                        772  ...           76                ITF
18        491                        822  ...          655      Produk Bahaya
19         65                        766  ...           60             Kompos
20        206                        566  ...          397             Kompos
21        416                         99  ...          796      Produk Bahaya
22        981                        362  ...          895                RDF
23        118                        396  ...          811     Produk Kreatif
24        727                        160  ...          821      Produk Bahaya
25        509                        972  ...          511             Kompos
26        943                        476  ...          199        Biodigester
27        737                        377  ...          129             Kompos
28        640                         72  ...          200                RDF
29        970                        258  ...         1019      Produk Bahaya

[30 rows x 6 columns]

Semoga Sukses. Aamiin. :D
![]( https://docs.google.com/uc?export=download&id=1vJNmuncRehLc3WCZkFYCU6rRMVTy-w0k)